.tree-line-container {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

.tree-line-part {
  display: inline-block;
  width: 20px;
  height: 100%;
  position: relative;
}

.tree-line-part.pipe::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #a9a9a9;
}

.tree-line-part.cross::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid #a9a9a9;
}

.tree-line-part.cross::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  border-top: 1px solid #a9a9a9;
}

.tree-line-part.last::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 50%;
  border-left: 1px solid #a9a9a9;
}

.tree-line-part.last::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  border-top: 1px solid #a9a9a9;
}

.tree-line-part.empty {
  /* No line here */
}
