:root {
  --font-color: #213547;
  --background-color: #ffffff;
  --header-bg: #f2f2f2;
  --row-alt-bg: #f9f9f9;
  --border-color: #a9a9a9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-color: #f9f9f9;
    --background-color: #242424;
    --header-bg: #3a3a3a;
    --row-alt-bg: #2e2e2e;
    --border-color: #888;
  }
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border-spacing: 0;
}

thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  z-index: 1;
  border-bottom: 2px solid var(--border-color);
}

th, td {
  padding: 8px 15px;
  text-align: left;
}

td.tree-cell {
  padding: 0;
}

tbody tr {
  background-color: var(--background-color);
}

tbody tr:not(.has-second-line) {
  border-bottom: 1px solid var(--border-color);
}

tr:last-child {
  border-bottom: 1px solid var(--border-color);
}

.App {
    text-align: left;
}
